.contactus {
    position: absolute;
    top: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100%;;
    margin: 0%;
    padding: 50px;
    border-radius: 4px;
    background-color: black;
  }
  

  .contactus-title {
        font-family: 'Poppins', sans-serif, 'arial';
        font-weight: 600;
        font-size: 72px;
        color: white;
        text-align: center;
    }
  
    .contactus-text {
        text-align: center;
        font-family: 'Roboto', sans-serif, 'arial';
        font-weight: 400;
        font-size: 20px;
        color: white;
        line-height: 1.5;
    }
    
    .contactus-form {
        width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
     }

    .styled-input {
        width: 60%;
    }
  
  .contactus-btn {
    margin: 10px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color:white;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    :hover{
        color: #fff;
        background-color: #616467;
}
  }

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}



.styled-input {
    width: 800 px;
}

.contactus-form input,
.contactus-form textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}


.contactus-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  
  
  @media screen and (max-width: 480px) {
    .contactus {
      max-width: 80%;
    }
  
    .contactus-form input,
    .contactus-form textarea {
      padding: 6px;
    }
  }
  















