.faq_container {
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10%;

}

.faq_container h1 {
    font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 72px;
  color: #020222;
  text-align: center;
}

.faq_container h3, .faq_container p {
   
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  font-size: 20px;
  color: #020222;
  line-height: 1.5;
}